{% extends 'base.html.twig' %}

{% block title %}Create


{% endblock %}

{% block content1 %}
    {% if vehicules | length < 6 %}
    <div id="form">
        {{ form_start(vehiculeForm1) }}

        {{ form_errors(vehiculeForm1) }}

        {{ form_widget(vehiculeForm1) }}

        <button class="form">CREATE</button>

        {{ form_end(vehiculeForm1) }}

    </div>

    {% else %}

    <p> You can't add another vehicle.</p>

    {% endif %}

{% endblock %}