{% extends 'base.html.twig' %}

{% block title %}Delete

{% endblock %}

{% block content1 %}

    <a href="{{ path('main_home') }}"><button class="form">DELETE</button></a>

{% endblock %}

{% block content2 %}

{% endblock %}