{% extends 'base.html.twig' %}

{% block title %}

    END

{% endblock %}

{% block content1 %}

    <div class="row">
    <div class="col">
        <div class="titre_home">
            <h1>CONTACT ME</h1>
            <a href="mailto:sebastien.aucante@gmail.com"><p>sebastien.aucante@gmail.com</p></a>
            <br>
            <p>06.98.43.18.13</p>
            <br>
            <a href="https://www.linkedin.com/in/s%C3%A9bastien-aucante-180a37207/"> <p>Linkedin </p></a>
        </div>
        <div>

            <a href="mailto:sebastien.aucante@gmail.com"><button type="button">CONTACT ME</button></a>


        </div>
    </div>

{% endblock %}