{% extends 'base.html.twig' %}

{% block title %}

 END

{% endblock %}

{% block content1 %}

    <div class="row">
    <div class="col">
        <div class="titre_home">
            <h1>THANK YOU FOR WATCHING ! </h1>
            <p>Feel free to contact me</p>
        </div>
        <div>

                <a href="{{ path('main_home')}}"><button type="button">HOME</button></a>


        </div>
    </div>

{% endblock %}